<h1>Buttons</h1>

<div class="container">
  <section>
    <p class="label">Text</p>
    <div class="row">
      <button app-button
        variant="text">Default</button>
      <button app-button
        variant="text"
        color="primary">Primary</button>
      <button app-button
        variant="text"
        color="secondary">Secondary</button>
      <button app-button
        variant="text"
        color="danger">Danger</button>
      <button app-button
        variant="text"
        disabled>Disabled</button>
      <button app-button
        variant="text"
        disableShadow>No shadow</button>
    </div>
  </section>
  <hr>
  <section>
    <p class="label">Default</p>
    <div class="row">
      <button app-button>Default</button>
      <button app-button
        color="primary">Primary</button>
      <button app-button
        color="secondary">Secondary</button>
      <button app-button
        color="danger">Danger</button>
      <button app-button
        disabled>Disabled</button>
      <button app-button
        disableShadow>No shadow</button>
    </div>
  </section>
  <hr>
  <section>
    <p class="label">Outline</p>
    <div class="row">
      <button app-button
        variant="outline">Default</button>
      <button app-button
        variant="outline"
        color="primary">Primary</button>
      <button app-button
        variant="outline"
        color="secondary">Secondary</button>
      <button app-button
        variant="outline"
        color="danger">Danger</button>
      <button app-button
        variant="outline"
        disabled>Disabled</button>
      <button app-button
        variant="outline"
        disableShadow>No shadow</button>
    </div>
  </section>
  <hr>
  <section>
    <p class="label">Sizes</p>
    <div class="row">
      <button app-button
        size="sm"
        color="primary">Small</button>
      <button app-button
        size="md"
        color="primary">Medium</button>
      <button app-button
        size="lg"
        color="primary">Large</button>
    </div>
  </section>
  <hr>
  <section>
    <p class="label">Icons</p>
    <div class="row">
      <button app-button
        startIcon="add_shopping_cart"
        color="primary">Small</button>
      <button app-button
        endIcon="add_shopping_cart"
        color="primary">Medium</button>
    </div>
  </section>
  <hr>
</div>
