h1 {
  margin-top: -10px;
}

.container {
  margin-top: 40px;
  max-width: 70vw;
}

section {
  display: table;
}

hr {
  height: 1px;
  border-width: 0;
  color: var(--default);
  background-color: var(--default);
}

.label {
  display: table-cell;
  min-width: 80px;
}

.row {
  display: table-cell;
  width: 100%;
  margin: 8px 8px 8px 0;
}

.row * {
  margin: 4px;
}
