footer {
  position: fixed;
  left: var(--sidebar-width);
  right: 0;
  bottom: 0;
  padding: 20px 80px;
  z-index: 1000;

  background: var(--white-1);
}

footer span {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: var(--text-md);
  line-height: 17px;

  text-align: center;
  color: var(--gray);
}

footer span a {
  color: var(--gray);
  transition: color var(--text-transition);
}

footer span a:hover {
  color: var(--black-2);
}
